#scores {
	margin-top: 60px;
	margin-left:auto;
	margin-right:auto;
  	font-size: 22px;
  	font-family: Arial, "Times", Helvetica, sans-serif;
  	border-collapse: collapse;
  	width: 50%;
}

#scores td:last-child {
	text-align: right !important;	
}

#scores td, #scores th {
    border: 2px solid #000;
    padding: 8px;
}

#scores th {
	font-weight: lighter !important;
	text-align: center;	
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #000;
    color: #FFF;
}